@media screen and (max-width:576px) {
       /* --------Banner Style-----------*/
       .section-container{
        margin: 80px auto 0 auto;}
.banner-container{
    height: auto;
    background: linear-gradient(180.00deg, rgba(0, 0, 0, 0.89),rgba(7, 2, 17, 0.31),rgba(7, 2, 17, 0.616) 100%),
    url("./images/Banner-Image.png") no-repeat center/cover;margin-top: 10px;
}
header p{
    font-size: 28px;
    padding: 77px 0 30px 0;
}
header h1{
    font-size: 55px;
    line-height: 60px;
    padding-bottom: 70px;
} 

/*Discount Container*/

.discount-container{
    padding: 0 20px;
}
.discount-container h1{
    font-size: 60px;
    line-height: 80px;
}

.discount-container p{
    font-size: 21px;
    padding: 20px 0  16px 0;
}

.discount-container h3{
    font-size: 38px;
    line-height: 48px;
}
.happy-new-year-img{
    margin-top:30px ;
 }

 /*-------Welcome Container style---------*/
 
 .welcome-container{
    background: linear-gradient(360.00deg, 
    rgba(7, 2, 17, 0.283),rgba(0, 0, 0, 0.692),yellow 100%),  
    url("./images/Vectorrr.png") repeat left top;
    padding: 0 20px;
    background-position: bottom;
 }
 .inner-section{
    flex-direction: column-reverse;
    gap:0px;
}
.welcome-content h1{
    margin-top: -50px;
    font-size: 50px;
    line-height: 60px;
 }
 .welcome-content p{
    font-size: 16px;
    opacity: 1;
    line-height: 24px;
 }
 .welcome-content a p{
    margin: 40px 0;
 }

 .img-2024{
    margin-top: 30px;
 }

 /*---------schedule-container style------------*/

.schedule-details p{
    font-size: 25px;
    line-height: 42px;
    padding:30px 0 30px 0;
}
/* .for-mobile{display: block;} */


/*------------Coming Soon Section Style---------*/

.coming-soon-container{ 
    grid-template-columns: 1fr  ;
    gap: 40px;
}
.coming-soon-left h3{
    font-size: 22px;
}
.content-right{
    padding-left:0;
}
.coming-soon-container h1{
    font-size: 40px;
}
.coming-soon-container p{
    font-size: 18px;
}
.content-right{
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

/* -----------Holidays Container Style---------*/

.holidays h4{font-size: 22px;}
.holidays h1{font-size:55px;margin-bottom: 10px;}
.holidays p{
    font-size: 18px;
    margin:0;
    line-height: 26px;
}
.gift-box-container{
    margin-top: 40px;
    height: auto;
}

.solid-red{ height: 100px;}

.gift-box-img{
    top: 50%;
    left: -15%;
}
.gift-box-img img{
    width: 70%;
}
.gift-box-discount{
    max-width: 240px;
    top: -19%;
    left: 35%;
}
.gift-box-discount{width: 70%;}
.gift-box-girl{display: none;}



/*----------Gride Style-------------*/

.grid-content h6{font-size: 22px;}
.grid-content h1{font-size: 40px;}
.grid-content p{
    font-size: 17px;
    padding-right: 0px;
    line-height: 24px;
}
.grid-img{grid-template-columns: 1fr 1fr;}


/*----------Subscribe Section Style-------------*/


.subscribe-container{
    padding: 50px 10px 0 10px;
}

.subscribe-container h1{
    font-size: 40px;
}
.subscribe-container p {
    font-size: 17px;
    line-height: 24px;
}
.subscribe-container form{
    width: 100%;
    flex-direction: column;
    margin-bottom: 50px;
    background: none;
    gap: 30px;
}
.subscribe-container form input[type="email"]{
    border: 1px solid rgba(156, 153, 153, 0.313);
}   

.subscribe-container form input[type="submit"]{
    margin: 0 auto;
    padding: 0 25px ;
    border-radius: 50px;
}   



/*----------Footer Style-------------*/
footer{
    height: auto;
    padding:15px;
}
.footer-top{
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.address , 
.phone-web span , 
.footer-end p , 
.footer-end a{font-size: 18px;}

.footer-middle-icons{
    justify-content: center;
    margin: 10px auto;
 }
 .footer-middle-icons img{
    padding: 0;
    width: 60%;
 }
 .footer-end{
    margin: 20px 0;
}
}